/**
** Text and images wraper
**/
.text-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
}

.title-text{

}

.text-detail{

}

.bg-image-wrapper{
position: fixed;
top:0;
left:0;
width: 100%;
height: 100%;
background-size: cover;
object-fit: cover;
}



/**
 ** Other containers
**/
.filter{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.75);
}

// scroll when overflowing on x axis
.overflow-x-scroll{
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar{
        display: none;
    }
}