.text-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
}

.darken-2{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.58);
}

.media-wrapper{
 min-width: 100vw;
 min-height: 100vh;
 display:flex;
 justify-content: center;
 align-items: center;
}

.fixed-right{
    height: 100%;
    position: fixed;
    right: 10px;
}


/** overflow-y **/
.overflow-x-scroll{
    width: 100%;
    overflow-x: scroll;
}

