@import url(~fullpage.js/dist/fullpage.min.css);

// Overrides of vertical sliding icons
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: white ;
}


// overrides of slide arrows
.fp-controlArrow.fp-prev {
    width: 0;
    height: 0;
    border: none;
}
.fp-controlArrow.fp-next {
    width: 0;
    height: 0;
    border: none;
}