
/**
When device heignt is very small, we reduce the margins and paddings in the y axis 
** !!!
**/
@media(max-height: 600){
    @for $i from 2 to 5{
        .mt-#{$i}{
            margin-top: ($i + -1)*$spacer !important;
        }
        .mb-#{$i}{
            margin-bottom: ($i + -1)*$spacer  !important;
        }
        .pt-#{$i}{
            padding-top: ($i + -1)*$spacer !important;
        }
        .pb-#{$i}{
            padding-bottom: ($i + -1)*$spacer !important;
        }
    }
}