// set the width of a div to a fixed value
@for $i from 0 to 2048{
    .set-width-#{$i}{
        min-width: $i * 1px !important;
    }
}

//sets the width of a div to a value relative of the viewport width
@for $i from 0 to 100{
    .set-width-vp-#{$i}{
        min-width: #{$i}vw;
    }
}

//sets the line height to a value from 1 to 200px
@for $i from 1 to 200{
    .lh-#{$i}{
        line-height: $i * 1px;
    }
}