@import "./variables.scss";

/** 
** General typography
**/
.cursive{
    font-family: $font-family-cursive;
}

.strict{
    font-family: $font-family-strict;
}

.h1-larger{
    font-size: $h1-larger;
}
.h1-xlarger{
    font-size: $h1-xlarger;
}
.h1-xxlarger{
    font-size: $h1-xxlarger;
}

.lsp-medium{
    letter-spacing: $lsp-medium;
}
.lsp-large{
    letter-spacing: $lsp-large;
}
.lsp-xlarge{
    letter-spacing: $lsp-xlarge;
}
.lsp-xxlarge{
    letter-spacing: $lsp-xlarge;
}

/**
** imputs & text areas
**/
.input-theme-dark{
    border: none;
    background-color: #141414;
    color: #BCBCBC;
}

