<div class="tag d-flex align-items-center justify-content-center">
  <div class="px-4 fs-sm">2021 © Digital <br> Vitae Studio </div>
  <div class="line"></div>
</div>

<!----------------- header ------------------ -->
<header class="navbar container-fluid py-3 px-5">
  <div class="navbar-mobile-top">
    <div class="d-flex justify-content-end px-2 top-navbar">
      <span class="a px-5 fs-sm ">The studio</span>
      <span class="a px-5 fs-sm" routerLink="/blog">Projects</span>
      <span class="a px-5 fs-sm" routerLink="/cv">Contact</span>
      <span class="a px-5 fs-sm" routerLink="/contact">Feever -></span>
    </div>

     <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
     </button>
  </div>

  <!-- logo  -->

</header>

<div class="container-fluid headline-section pt-2">
  <div class="row height-fill d-flex align-items-start pt-5">
    <div class="col-md-1"></div>
    <div class="col-11 col-md-6 px-md-5 pl-4">
      <div class="h2">Hi! I'm Samira.</div>
      <div class="h3 subheading pb-3">I am a software developper and a web designer & programmer.</div>

      <div class="fs-lg pt-5 pb-3">I created digital vitae studio to give life to amusing / interesting / beautiful projects. </div>

      <div class="d-flex pt-5">
        <div class="btn-stroked mr-2">See the studio</div>
        <div class="btn-accent ml-2">Hire me</div>
      </div>
    </div>
  </div>
</div>


<div class="py-4"></div>

<!-- WHO ARE WE SECTION -->
<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>

<div class="py-4"></div>

<!--OUR PROJECTS SECTION-->
<div class="container-fluid">
  <div class="row pb-5 d-flex justify-content-center align-items-center">
    <div class="col-2 h-line"></div>
    <div class="col-6 col-md-4">
      <div class="h3 text-center px-2">Our projects</div>
    </div>
    <div class="col-2 h-line"></div>
  </div>
</div>

<div class="row pt-2 d-flex justify-content-center flex-column flex-md-row align-items-center">
  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <div class="card-flag visibility-hidden">
       <span>comming up!</span>
    </div>

    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<!--ABOUT THE STUDIO SECTION-->

<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 section-card">
      <div class="h3 pt-4 px-4">About the studio..</div>
      <div class="logo py-5 my-5"></div>

      <div class="row">
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 pt-5 d-flex flex-column justify-content-center align-items-center">
          You want to be a part of the journey?
          <div class="btn-accent mt-4">Join !</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-5"></div>


<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>

<div class="py-4"></div>

<!--OUR PROJECTS SECTION-->
<div class="container-fluid">
  <div class="row pb-5 d-flex justify-content-center align-items-center">
    <div class="col-2 h-line"></div>
    <div class="col-6 col-md-4">
      <div class="h3 text-center px-2">Our projects</div>
    </div>
    <div class="col-2 h-line"></div>
  </div>
</div>

<div class="row pt-2 d-flex justify-content-center flex-column flex-md-row align-items-center">
  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <div class="card-flag visibility-hidden">
       <span>comming up!</span>
    </div>

    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<!--ABOUT THE STUDIO SECTION-->

<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 section-card">
      <div class="h3 pt-4 px-4">About the studio..</div>
      <div class="logo py-5 my-5"></div>

      <div class="row">
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 pt-5 d-flex flex-column justify-content-center align-items-center">
          You want to be a part of the journey?
          <div class="btn-accent mt-4">Join !</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>

<div class="py-4"></div>

<!--OUR PROJECTS SECTION-->
<div class="container-fluid">
  <div class="row pb-5 d-flex justify-content-center align-items-center">
    <div class="col-2 h-line"></div>
    <div class="col-6 col-md-4">
      <div class="h3 text-center px-2">Our projects</div>
    </div>
    <div class="col-2 h-line"></div>
  </div>
</div>

<div class="row pt-2 d-flex justify-content-center flex-column flex-md-row align-items-center">
  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <div class="card-flag visibility-hidden">
       <span>comming up!</span>
    </div>

    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>

  <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
    <span class="card-flag">comming up!</span>
    <div class="theme-card">
      <div class="d-flex flex-column">
        <div class="h4 pb-3">What did you sayy?</div>
        <div class="pb-3">A much needed french version of an English classic website concept.</div>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<!--ABOUT THE STUDIO SECTION-->

<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 section-card">
      <div class="h3 pt-4 px-4">About the studio..</div>
      <div class="logo py-5 my-5"></div>

      <div class="row">
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 pt-5 d-flex flex-column justify-content-center align-items-center">
          You want to be a part of the journey?
          <div class="btn-accent mt-4">Join !</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-5"></div>
