<div class="tag d-flex align-items-center justify-content-center">
  <div class="px-4 fs-sm">2021 © Digital <br> Vitae Studio </div>
  <div class="line"></div>
</div>

<!-- HEADER section -->
<header class="navbar container-fluid py-3 px-5">
  <div class="navbar-mobile-top">
    <div class="d-flex justify-content-end px-2 top-navbar">
      <span class="a px-5 fs-sm ">The studio</span>
      <span class="a px-5 fs-sm" routerLink="/blog">Projects</span>
      <span class="a px-5 fs-sm" routerLink="/cv">Contact</span>
      <span class="a px-5 fs-sm" routerLink="/contact">Feever -></span>
    </div>

     <button mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <!-- <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon> -->
     </button>
  </div>

  <!-- logo  -->

</header>

<div class="container-fluid headline-section pt-2">
  <div class="row height-fill d-flex align-items-start pt-5">
    <div class="col-md-1"></div>
    <div class="col-11 col-md-6 px-md-5 pl-4">
      <div class="h2">Hi! I'm Samira.</div>
      <div class="h3 subheading pb-3">I am a software developper and a web designer & programmer.</div>

      <div class="fs-lg pt-5 pb-3">I created digital vitae studio to give life to amusing / interesting / beautiful projects. </div>

      <div class="d-flex pt-5">
        <div class="btn-stroked mr-2">See the studio</div>
        <div class="btn-accent ml-2">Hire me</div>
      </div>
    </div>
  </div>
</div>


<div class="py-4"></div>

<!-- WHO ARE WE SECTION -->
<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>

<div class="py-4"></div>

<!--OUR PROJECTS SECTION-->
<div class="container-fluid">
  <div class="row pb-5 d-flex justify-content-center align-items-center">
    <div class="col-2 h-line"></div>
    <div class="col-6 col-md-4">
      <div class="h3 text-center px-2">Our projects</div>
    </div>
    <div class="col-2 h-line"></div>
  </div>


  <div class="row pt-2 d-flex justify-content-center flex-column flex-md-row align-items-center">
    <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
      <div class="card-flag visibility-hidden">
        <span>comming up!</span>
      </div>

      <div class="theme-card">
        <div class="d-flex flex-column">
          <div class="h4 pb-3">What did you sayy?</div>
          <div class="pb-3">A much needed french version of an English classic website concept.</div>
        </div>
      </div>
    </div>

    <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
      <span class="card-flag">comming up!</span>
      <div class="theme-card">
        <div class="d-flex flex-column">
          <div class="h4 pb-3">What did you sayy?</div>
          <div class="pb-3">A much needed french version of an English classic website concept.</div>
        </div>
      </div>
    </div>

    <div class="col-8 col-sm-4 col-md-3 col-xl-2 mx-4 my-4 my-md-0">
      <span class="card-flag">comming up!</span>
      <div class="theme-card">
        <div class="d-flex flex-column">
          <div class="h4 pb-3">What did you sayy?</div>
          <div class="pb-3">A much needed french version of an English classic website concept.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<!--ABOUT THE STUDIO SECTION-->

<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 section-card">
      <div class="h3 pt-4 px-4">About the studio..</div>
      <div class="logo py-5 my-5"></div>

      <div class="row">
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 pt-5 d-flex flex-column justify-content-center align-items-center">
          You want to be a part of the journey?
          <div class="btn-accent mt-4">Join !</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-5"></div>


<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>



<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<!--ABOUT THE STUDIO SECTION-->

<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-11 col-md-10 section-card">
      <div class="h3 pt-4 px-4">About the studio..</div>
      <div class="logo py-5 my-5"></div>

      <div class="row">
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 col-md-6 px-4">
          Here in Digital Vitae Studio we aim on letting every one give life to that one idea in their head, wether it will change
          the world or just be a meme on reddit

          If you want to be part of the journey, contact me here !
        </div>
        <div class="col-12 pt-5 d-flex flex-column justify-content-center align-items-center">
          You want to be a part of the journey?
          <div class="btn-accent mt-4">Join !</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="py-5"></div>

<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center pt-4">
      <div class="h4 pb-0">Who are we</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
      <div class="col-8 col-md-6 col-12 px-5 px-md-0">
        <div class="h2 quote-up text-left">”</div>
        <div class="quote-card ">
          <div class="text-center px-md-5"> Programmers often do stuff for fun, with no direct use to the community and sometimes they
            changes the world fuelled
            with coffee and programming jokes. I wanted the Digital vitae studio to be the safe home for all developers crush
            projects because wether or not they make money, they sure nourish the mind of people somewhere on the earth.</div>
        </div>
        <div class="h2 quote-down text-right">”</div>
      </div>
  </div>
</div>


<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center pb-5">
    <div class="h3 pb-3">
      Nice to digitally meet you !
    </div>
  </div>
  <div class="row pt-5 contact-section">
    <div class="col-12">
      <div class="contact-wave-up">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
          viewBox="0 0 1918.677 378.783">
          <defs>
            <filter id="Tracé_38">
              <feOffset dy="20" input="SourceAlpha" />
              <feGaussianBlur stdDeviation="10" result="blur" />
              <feFlood flood-color="#4e1525" result="color" />
              <feComposite operator="out" in="SourceGraphic" in2="blur" />
              <feComposite operator="in" in="color" />
              <feComposite operator="in" in2="SourceGraphic" />
            </filter>
          </defs>
          <g data-type="innerShadowGroup">
            <path id="Tracé_38-2" data-name="Tracé 38"
              d="M9432,2906.9s689.573-336.753,964.872-304.6,904.89,319.489,953.5,364.957c.686,10.73,0,11.661,0,11.661H9432Z"
              transform="translate(-9432 -2600.138)" fill="#6f2321" />
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Tracé_38)">
              <path id="Tracé_38-3" data-name="Tracé 38"
                d="M9432,2906.9s689.573-336.753,964.872-304.6,904.89,319.489,953.5,364.957c.686,10.73,0,11.661,0,11.661H9432Z"
                transform="translate(-9432 -2600.14)" fill="#fff" />
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="row contact-content-1 d-flex justify-content-center align-items-center pt-5">
    <div class="col-6 d-flex flex-column align-items-center pt-5">
      <div class="text-center">
        <div class="pb-3">My name is Samira… but you already knew that. </div>
        <div class="pb-5">
          I am an software engineering student form Niger 🇳🇪 based in Paris 🇫🇷 <br>
          I am 22 and I have no astonishing background. Just I like coding and letting my mind wander.
        </div>
      </div>
      <div class="py-3"></div>
    </div>
  </div>

  <div class="row contact-content-2 py-5">
    <div class="col-12">
      <div class="logo py-5"></div>
    </div>
  </div>
  <!-- <div class="row">
          <div class="d-flex justify-content-center pb-5">
            <div class="col-12 d-flex align-items-center justify-content-center">
              <span><i class="bi bi-envelope px-2 fs-xs color-white"></i></span>
              <span>samira.hamadjibo@gmail.com</span>
            </div>
          </div>

          <div class="d-flex justify-content-center pb-3 pt-2">
            <div class="col-3 d-flex justify-content-center ">
              <i class="bi bi-github px-2 fs-sm color-white"></i>
              <i class="bi bi-twitter px-2 fs-sm color-white"></i>
              <i class="bi bi-instagram px-2 fs-sm color-white"></i>
            </div>
          </div>

          <div class="py-5"></div>
          <div class="py-5"></div>
          <div class="py-5"></div>
        </div> -->
</div>


<div class="py-5"></div>
<div class="py-5"></div>
<div class="py-5"></div>
<!-- FOOTER -->
<div class="pt-5"></div>

<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-12 px-0">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 1920 204">
        <defs>
          <filter id="Tracé_23">
            <feOffset dy="3" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="20" result="blur"/>
            <feFlood flood-color="#4e1525" result="color"/>
            <feComposite operator="out" in="SourceGraphic" in2="blur"/>
            <feComposite operator="in" in="color"/>
            <feComposite operator="in" in2="SourceGraphic"/>
          </filter>
          <clipPath id="clip-Web_1920_33">
            <rect width="1920" height="204"/>
          </clipPath>
        </defs>
        <g id="Web_1920_33" data-name="Web 1920 – 33" clip-path="url(#clip-Web_1920_33)">
          <g data-type="innerShadowGroup">
            <path id="Tracé_23-2" data-name="Tracé 23" d="M1106.4,48.482c216.807,12.481,879,123.258,924.906,130.838,465.751,76.9,477.845,131.452,477.845,229.926,0,151.708-29.364,242.721-389.877,277.5-182.478,17.6-808.032-2.192-1020.452-2.192-343.918,0-785.229,66.888-1051.475-5.126S-101.113,356.1-44.833,316.539C.949,284.36,181.41,159.61,412.242,97.3,638,36.36,912.375,37.312,1106.4,48.482Z" transform="translate(-118.345 -70.369) rotate(2)" fill="#1F1D2F"/>
            <g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Tracé_23)">
              <path id="Tracé_23-3" data-name="Tracé 23" d="M1106.4,48.482c216.807,12.481,879,123.258,924.906,130.838,465.751,76.9,477.845,131.452,477.845,229.926,0,151.708-29.364,242.721-389.877,277.5-182.478,17.6-808.032-2.192-1020.452-2.192-343.918,0-785.229,66.888-1051.475-5.126S-101.113,356.1-44.833,316.539C.949,284.36,181.41,159.61,412.242,97.3,638,36.36,912.375,37.312,1106.4,48.482Z" transform="translate(-118.34 -70.37) rotate(2)" fill="#fff"/>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="row d-flex justify-content-center pb-2">
    <div class="col-3">
      <div class="h4 text-center">This looks like a footer, but it is actually a meme generator</div>
    </div>
  </div>

  <div class="row d-flex justify-content-center pb-5">
    <div class="col-3 pt-3 text-center">
      click anywhere on the footer to redirect on a random meme on the internet.
    </div>
  </div>

  <div class="row justify-content-center pb-3 pt-2">
    <div class="col-3 d-flex justify-content-center ">
      <i class="bi bi-github px-2 fs-sm color-white"></i>
      <i class="bi bi-twitter px-2 fs-sm color-white"></i>
      <i class="bi bi-instagram px-2 fs-sm color-white"></i>
    </div>
  </div>

  <div class="row justify-content-center pb-5">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <span><i class="bi bi-envelope px-2 fs-xs color-white"></i></span>
      <span>samira.hamadjibo@gmail.com</span>
    </div>
  </div>
</div>





