.logo{
    position: fixed;
    right: 15px;
    display: inline-block !important;
    content: "" !important;
    background-image: url("data:image/svg+xml,/Users/admin/Dev/Digital-Vitae/digitalvitae/node_modules/bootstrap-icons/icons/badge-tm.svg");
    background-repeat: no-repeat !important;
    background-size: 100px 82px !important;
    width: 100px;
    height: 82px;
}