<div fullpage id="fullpage">
    <div class="section">

        <!-- section layout -->
        <div class="layout">
            <div class="container-fluid fixed-top pt-3" >
                <div class="row d-flex justify-content-center">
                    <i class="bi bi-twitter p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-github p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-instagram p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-youtube p-2" style="color: white; font-size: 1rem"></i>
                </div>
            </div>
            
            <div class="container-fluid fixed-bottom pb-3 ">
                <div class="row mx-sm-7 mx-md-0">
                    <div class="col-12 col-md-6 order-md-2">
                        <div class="container-fluid">
                            <div class="row justify-content-center">
                                <button class="col-3 mb-4 btn btn-outline-primary letter-spacing-large">START</button>
                            </div>
                            <div class="row pb-4">
                                <span class="col-4 btn btn-link text-truncate">PRESENTATION</span>
                                <span class="col-4 btn btn-link text-truncate">PROJECTS</span>
                                <span class="col-4 btn btn-link text-truncate">SERVICES</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-1 mt-5 mt-md-0" >
                        <div class="row-cols-md-2 align-items-start">
                            <div class="col">
                                <img class="logo-dynamic mx-auto" src="../../../../assets/logos/logo-white.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ! section layout -->

        <!-- slide 1 -->
        <div class="slide"> 
                <div class="media-wrapper">
                    <video class="bg-video" loop muted autoplay> 
                        <source src="../../../../../assets/medias/the-dancing-plant-edit.mp4" type="video/mp4">
                    </video>
                    <div class="darken-2"></div>
                </div>
        
                <div class="text-wrapper">
                    <div class="section-container d-flex flex-column justify-content-center ">
                        <div class="h1-dynamic text-center text-uppercase px-sm-5"> Give Life to your ideas</div>
                    </div>
                </div>
        </div>

        <!-- slide 2 -->
        <div class="slide">
            <div class="media-wrapper">
                <video class="bg-video" loop muted autoplay> 
                        <source src="../../../../../assets/medias/yummy-timelapse.mp4" type="video/mp4">
                </video>
                <div class="darken-2"></div>
            </div>
        
            <div class="text-wrapper">
                <div class="section-container d-flex flex-column justify-content-center ">
                    <div class="h1-dynamic text-center text-uppercase px-sm-5"> Your project in our hands</div>
                </div>
            </div>
        </div>
    </div>


    <div class="section"></div>

    <!-- footer -->
    <div class= "section fp-auto-height">
        <div style="color: black; height: 50vh"></div>
    </div>
</div>
