<div fullpage id="fullpage">
    <div class="section">

        <!-- section layout -->

        <div class="media-wrapper">
            <img class="bg-image-wrapper" src="../../../../assets/images/the-dancing-plant.png">
            <!--
            <video class="bg-video" loop muted autoplay> 
                <source src="../../../../../assets/medias/the-dancing-plant-edit.mp4" type="video/mp4">
            </video>
            -->
            <div class="filter"></div>
        </div>
        

            <div class="container-fluid fixed-top pt-3" >
                <div class="row d-flex justify-content-center">
                    <i class="bi bi-twitter p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-github p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-instagram p-2" style="color: white; font-size: 1rem"></i>
                    <i class="bi bi-youtube p-2" style="color: white; font-size: 1rem"></i>
                </div>
            </div>
            
            <div class="container-fluid fixed-bottom pb-3 ">
                <div class="row pb-3">
                    <div class="col-12 col-md-6 order-md-2 px-5">
                        <div class="row d-flex flex-row align-items-center" style="height: 100%;">
                            <span class="col-4 btn btn-link text-truncate">PRESENTATION</span>
                            <span class="col-4 btn btn-link text-truncate">PROJECTS</span>
                            <span class="col-4 btn btn-link text-truncate">SERVICES</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-1 mt-5 mt-md-0" >
                        <div class="row-cols-md-2 align-items-start">
                            <div class="col">
                                <img class="logo-dynamic mx-auto" src="../../../../assets/logos/logo-white.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- !section layout -->

        <!-- slide 1 -->
        <div class="slide"> 
            <div class="section-container d-flex flex-column justify-content-center">
                <div class="row pl-2 pl-sm-0">
                    <div class="col-0 col-sm-1"></div>
                    <div class="col-10 col-sm-6 col-md-8 text-uppercase">
                        <p [@fadeIn]="activeSlideIndex == 0 ? 'fadedIn' : 'hidden'" >Give <span class="strict">Life</span><br> to your ideas.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 2 -->
        <div class="slide">
            <div class="section-container d-flex flex-column justify-content-center">
                <div class="row pl-2 pl-sm-0">
                    <div class="col-0 col-sm-1"></div>
                    <div class="col-10 col-sm-6 col-md-8">
                        <div class="row">
                            <p class="h1 text-uppercase" [@showHide]="activeSlideIndex == 1 ? 'shown' : 'hidden'">HOW WE SEE THINGS</p>
                        </div>
                        <div class="row">
                            <p class="article-size" [@fadeInOut]="activeSlideIndex == 1 ? 'fadedIn' : 'fadedOut'">Quality over quantity: Our products are made carefully and with a lot of love to last longer!</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 3 -->
        <div class="slide">
            <div class="section-container d-flex flex-column justify-content-center">
                <div class="row pl-2 pl-sm-0">
                    <div class="col-0 col-sm-1"></div>
                    <div class="col-10 col-sm-6 col-md-8">
                        <div class="row">
                            <p class="h1 text-uppercase"[@showHide]="activeSlideIndex == 2 ? 'shown' : 'hidden'">What we do</p>
                        </div>
                        <div class="row">
                            <p class="article-size" [@fadeInOut]="activeSlideIndex == 2 ? 'fadedIn' : 'fadedOut' ">We develop sites, softwares that make everyone’s life a little better. Take a look at  our projects</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 4 -->
        <div class="slide">
            <div class="section-container d-flex flex-column justify-content-center">
                <div class="row pl-2 pl-sm-0">
                    <div class="col-0 col-sm-1"></div>
                    <div class="col-10 col-sm-6 col-md-8">
                        <div class="row">
                            <p class="h1 text-uppercase"[@showHide]="activeSlideIndex == 3 ? 'shown' : 'hidden'">Your project in our hands</p>
                        </div>
                        <div class="row">
                            <p class="article-size" [@fadeInOut]="activeSlideIndex == 3 ? 'fadedIn' : 'fadedOut'">Your project has already begun reach out!</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section" style="color:#BABABA">
        <div class="container">
            <div class="row mt-5 mb-5 ml-1 ml-sm-0 d-flex flex-row justify-content-between"> 
                <div class="col-12 col-md-6 mb-5 mb-md-0">
                    <h1 class="strict h1-larger lsp-xlarge">Navigate 🌱</h1>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <input type="text" placeholder="Rechercher sur le site ..." class="form-control input-theme-dark width-325" id="searchSite">
                </div>
                
            </div>
            <div class="d-flex flex-row justify-content-between overflow-x-scroll mb-5 mt-3 mx-0">
                <div class="my-3 mx-lg-4 mx-xl-5 width-240">
                    <h4 class="mt-3 mb-3 fw-bolder lsp-large">Présentation</h4>
                        <h6 class="mt-4 mb-0 lsp-large">Who are we</h6>
                            <div class="ml-3 lsp-large">Identity cards please!</div>
                            <div class="ml-3 lsp-large">What do we do</div>
                        <h6 class="mt-4 mb-0 lsp-medium"> Our values</h6>
                            <div class="ml-3 lsp-large">Clean code, better code</div>
                            <div class="ml-3 lsp-large">Software craftmanship</div>
                </div>   
                <div class="my-3 mx-lg-4 mx-xl-5 width-240" >
                    <h4 class="mt-3 mb-3 fw-bolder lsp-large">Présentation</h4>
                        <h6 class="mt-4 mb-0 lsp-large">Who are we</h6>
                            <div class="ml-3 lsp-large">Identity cards please!</div>
                            <div class="ml-3 lsp-large">What do we do</div>
                        <h6 class="mt-4 mb-0 lsp-medium"> Our values</h6>
                            <div class="ml-3 lsp-large">Clean code, better code</div>
                            <div class="ml-3 lsp-large">Software craftmanship</div>
                </div>   
                <div class="my-3 mx-lg-4 mx-xl-5 width-240">
                    <h4 class="mt-3 mb-3 fw-bolder lsp-large">Présentation</h4>
                        <h6 class="mt-4 mb-0 lsp-large">Who are we</h6>
                            <div class="ml-3 lsp-large">Identity cards please!</div>
                            <div class="ml-3 lsp-large">What do we do</div>
                        <h6 class="mt-4 mb-0 lsp-medium"> Our values</h6>
                            <div class="ml-3 lsp-large">Clean code, better code</div>
                            <div class="ml-3 lsp-large">Software craftmanship</div>
                </div>   
            </div>
        </div>

        <!--
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center mt-5 mb-5">
                    <input type="text" placeholder="Rechercher sur le site ..." class="form-control input-theme-dark width-vw-45" id="searchSite">
                </div>
            </div>
        </div>
        -->
        
    </div>

    <!-- footer -->
    <div class= "section footer">
        <div class="container d-flex flex-column justify-content-end">
            <div class="d-flex flex-row justify-content-start overflow-x-scroll">
                <div class="pr-5 width-500">
                    <h1 class="text-uppercase ml-2 my-5 fw-light lsp-large strict">CONTACT US</h1>
                    <form-group>
                        <div class="d-flex flex-row"> 
                            <div class="mx-2">
                                <label for="name-contact" class="">NOM</label>
                                <input class="form-control input-theme-dark" id="name-contact" type="text">
                            </div>
                            <div class="mx-2 flex-grow-1">
                                <label for="email-contact" class="">EMAIL</label>
                                <input class="form-control input-theme-dark" id="email-contact" type="email">
                            </div>
                        </div>
                        <div>
                            <div class="mx-2 mt-4">
                                <textarea style="resize:none" class="form-control input-theme-dark" rows="10"></textarea>
                            </div>
                        </div>
                    </form-group>
                </div>
                
                <div class="d-flex flex-column justify-content-end pl-5 width-400">
                    <div class="align-self-center">
                        <p style="font-size: 30px">🤝</p>
                    </div>

                    <div style="width: 100%">
                        <p class="my-3 lsp-large">This website was made by Samira HAMA DJIBO fo DIGITAL VITAE</p>     
                    </div>
                    <p class="mt-3">Credits:</p>
                    <div class="row row-cols-2">
                        <div class="col d-flex flex-column text-start">
                            <a class="text-start">Fullpage by @avogadro</a>
                            <a class="text-start">Fullpage</a>
                        </div>
                        <div class="col d-flex flex-column">
                            <a class="text-end">Fullpage by @avogadro</a>
                            <a class="text-end">@avogadro</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-4"></div>
            <div class="container-fluid mt-5 d-flex flex-column align-items-center">
                <div class="row">
                    <img style="width:125px" class="mx-auto" src="../../../../assets/logos/logo-white.png">
                </div>
               
                <div class="row d-flex flex-row justify-content-center">
                    <i class="bi bi-twitter p-2 pb-3 px-4" style="color: white; font-size: 0.75rem"></i>
                    <i class="bi bi-github p-2 pb-3 px-4" style="color: white; font-size: 0.75rem"></i>
                    <i class="bi bi-instagram p-2 pb-3 px-4" style="color: white; font-size: 0.75rem"></i>
                    <i class="bi bi-youtube p-2 pb-3 px-4" style="color: white; font-size: 0.75rem"></i>
                </div>

                <div class="row mt-1">
                    <p class="foot-size text-center">2021 DIGITAL VITAE © all rights reserved. Thanks to all actors of Digital Vitae to my mama, my papa.. hey wait you’re not supposed to read this!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="slideMoveCallback"></div>